/* src/components/Card.module.css */
.arcanaContainer {
    position: relative;
    width: 180px;
    height: 360px;
    perspective: 1000px;
   
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes flipCard {
    0%, 50% {
        transform: rotateY(180deg) scaleX(-1);
    }
    100% {
        transform: rotateY(360deg) scaleX(1);
    }
}

.flipped {
    animation: flipCard 0.8s forwards;
}
